.container {
  &__img {
    position: fixed;
    left: 0;
    background-image: url('/UI_Elements/loginImage.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
  }
}
