.button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  background-color: #ec8080;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0);
  }

  &:disabled {
    // background-color: #d3d3d3;
    opacity: 0.5;
    // color: #777;
    transform: none;
    pointer-events: none;
  }
}
