@use '../../scss/variables' as *;

.favourite {
    margin: 15px auto;
    &_title {
        color: $color-grey-0;
        font-weight: 400;
        margin-bottom: 15px;
    }

    &_paragraph {
        color: $color-grey-0;
        font-weight: 400;
    }
}