@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

.current {
  padding: 15px;
  // margin: 0 auto;

  @include for-desktop {
    padding: 0 20px;
  }

  &__back {
    background-color: inherit;
    border: none;
    // margin-bottom: 20px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto 15px;

    // @include for-desktop {
    //   width: 75px;
    //   flex-direction: column;
    //   height: 80px;
    // }

    &__group {
      width: 70px;
      display: flex;
      justify-content: space-between;

      &__star {
        cursor: pointer;
        transition: transform 0.2s ease;

        &.animate {
          animation: pop 0.3s ease;
        }
      }
    }

    &__fav {
      display: flex;
      gap: 5px;

      &_text {
        color: $color-grey-0;
        font-weight: 400;
        font-size: 12px;
        line-height: 21px;
      }
    }
  }

  &__teams {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    scale: 0.8;

    @include for-desktop {
      scale: 1;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;

      &_logo {
        width: 40px;
        margin-bottom: 10px;
      }

      &_name {
        color: $color-grey-0;
        font-weight: 700;
        font-size: 32px;
      }
    }
  }

  &__time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 25px;

    @include for-desktop {
      padding: 0 50px;
    }

    &_item {
      color: $color-grey-30;
    }
  }

  &__menu {
    display: flex;
    width: 80%;
    margin: 0 auto;
    overflow: auto;
    justify-content: space-between;
    margin-bottom: 20px;

    @include for-desktop {
      width: 100%;
    }

    &_item {
      color: $color-grey-0;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      padding: 0 10px;
      white-space: nowrap;

      &.active {
        border-bottom: 2px solid $color-grey-0;
      }
    }
  }
}
