@use '../../scss/variables.scss' as *;
@use '../../scss/mixins' as *;

.navbarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 8px;
  text-decoration: none;
  color: $color-grey-40;
  flex-basis: 20%;

  @include for-desktop {
    flex-direction: row;
    height: fit-content;
  }

  &Icon {
    width: 24px;
    height: 24px;
    color: inherit;
  }

  &Text {
    color: inherit;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
  }
}

.active {
  color: $color-secondary;
}
