@use '../../scss/variables.scss' as *;

.match {
  display: inline-flex;
  width: 26px;
  height: 18px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 300;
  color: $color-grey-0;
  align-items: center;
  justify-content: center;

  &__red {
    background-color: $color-red;
  }

  &__green {
    background-color: $color-green;
  }

  &__yellow {
    background-color: $color-yellow;
  }
}
