@use '../../scss/variables.scss' as *;
@use '../../scss/mixins' as *;

.container {
  display: flex;
  gap: 8px;
  justify-content: center;
  overflow-x: auto;
  scrollbar-width: none;
  width: 100%;
  max-width: 700px;

  @include for-desktop {
    flex-direction: column;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $color-grey-70;
  padding: 8px 16px;
  border-radius: 5px;
  flex-shrink: 0;
  gap: 8px;
  color: $color-grey-20;
  text-align: center;

  @include for-desktop {
    flex-direction: row;
    justify-content: space-between;
  }
}

.teams {
  display: flex;
  align-items: start;
  justify-content: center;

  @include for-desktop {
    gap: 0.25rem;
  }
}

.icon {
  width: 16px;
  height: 16px;

  @include for-desktop {
    width: 28px;
    height: 28px;
    transform: translateY(50%);
  }

  &__soccer {
    width: 32px;
    height: 32px;

    @include for-desktop {
      width: 56px;
      height: 56px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;

  @include for-desktop {
    flex-direction: row;
    gap: 1rem;
  }
}
