@use '../../scss/mixins' as *;

.layout {
  display: flex;
  flex-direction: column-reverse;
  min-height: 100vh;

  @include for-desktop {
    flex-direction: row;
  }

  &_header {
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;
    width: 17%;
  }

  &_main {
    color: blue;
    display: flex;
    margin-bottom: 10px;

    @include for-desktop {
      width: 100%;
    }
  }

  &_footer {
    color: rgb(0, 255, 183);
  }
}
