@use '../../scss/variables.scss' as *;
.wrapper {
}
.country {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: $country-list-MinWidth;
  max-width: $country-list-MaxWidth;
  width: 100%;
  padding: 16px 8px;
  color: $color-grey-20;
  background-color: $color-grey-70;
  border-radius: 5px;

  &__open {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
  }

  &__container {
    display: flex;
    align-items: center;

    &Left {
      gap: 24px;
    }

    &Right {
      gap: 16px;
    }

    &__img {
      width: 24px;
      aspect-ratio: 1/1;
      border-radius: 100%;
      object-fit: cover;
    }

    &__paragraph {
      color: $color-grey-20;
      font-weight: 400;
      font-size: 24px;
      line-height: 29px;
    }

    &__arrow {
      width: 20px;
      aspect-ratio: 1/1;
    }
  }

  &__list {
    min-width: $country-list-MinWidth;
    max-width: $country-list-MaxWidth;
    width: 100%;

    &__open {
      margin-bottom: 5px;
    }
  }
}
