@use '../../scss/variables.scss' as *;

.country {
    display: flex;
    justify-content: space-between;
    min-width: $country-list-MinWidth;
    max-width: $country-list-MaxWidth;
    width: 100%;
    padding: 15px;
    color: $color-grey-20;
    background-color: $color-grey-70;
    border-radius: 5px;
    margin-bottom: 5px;

    &__open {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-bottom: 0px;
    }

    &__container {
        display: flex;
        gap: 10px;

        &__img {
            width: 24px;
        }

        &__paragraph {
            font-weight: bold;
        }
    }

    &__list {
        min-width: $country-list-MinWidth;
        max-width: $country-list-MaxWidth;
        width: 100%;

        &__open {
            margin-bottom: 5px;
        }
    }
}