.registration-container {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 1.25rem;
  border-radius: 0.75rem;
  background-color: #f8d3d3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.registration-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__heading {
    text-align: center;
    font-size: 1.5rem;
    color: #333;
  }

  &__input-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    background-color: #ec8080;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition:
      background-color 0.3s ease,
      transform 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }

  &__login {
    text-align: center;

    &-link {
      color: #000;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
