@use '../../scss/variables' as *;

.searchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   border-radius: 5px;
  height: 80px;
  background-color: $color-grey-70;
  border-bottom: 1px solid $color-grey-50;
  margin-bottom: 15px;

  &__text {
    font-size: 32px;
    color: $color-grey-20;
    font-weight: 700;
    line-height: 80px;
    margin-left: 10px;
  }

  &__search {
    background-color: $color-grey-80;
    border: 1px solid $color-grey-30;
    border-radius: 5px;
    height: 3rem;
    display: flex;
    padding: 5px;

    &_input {
      background-color: inherit;
      border: none;
      color: $color-grey-40;
    }
  }
}
