@use '../../scss/variables.scss' as *;
@use '../../scss/mixins' as *;

.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: $color-grey-70;
  width: 100%;
  border-top: 1px solid $color-grey-50;

  @include for-desktop {
    position: sticky;
    height: 100%;
    border-top: none;
    border-right: 1px solid $color-grey-50;
  }

  &__logo {
    // width: 150px;
    margin-bottom: 20px;
    padding: 0 10px 0 0;
  }

  &Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;

    @include for-desktop {
      align-items: flex-start;
      flex-direction: column;
      height: 70%;
    }
  }
}

