@use '../../scss/variables.scss' as *;

.navbar {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: $color-grey-70;
  width: 100%;
  border-top: 1px solid $color-secondary;

  &Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
  }
}

.navbar_desktop {
  padding: 0.5%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: $color-grey-70;
  border-right: 1px solid $color-secondary;
  height: 100%;

  &__logo {
    margin-bottom: 20px;
  }

  &Container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
  }
}
