@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;
.nav {
  display: flex;
  position: relative;
  margin-bottom: 10px;

  @include for-desktop {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 32px;
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    z-index: 2;
    right: 0;
    pointer-events: none;
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 0),
      $color-grey-80
    );
  }

  &__active {
    margin-right: 4%;

    @include for-desktop {
      width: calc(160px + 4%);
    }

    &__link {
      text-decoration: none;
      font-weight: 700;
      line-height: 40px;

      @include for-desktop {
        font-size: 32px;
      }
    }
  }

  &__container {
    display: flex;
    column-gap: 18%;
    width: 100%;
    overflow: auto;
    position: relative;
    padding-right: 25px;

    @include for-desktop {
      padding: 0;
      justify-content: space-evenly;
    }

    &__link {
      text-decoration: none;
      font-weight: 700;
      color: $color-grey-50;
      line-height: 40px;

      @include for-desktop {
        font-size: 32px;
        color: $color-grey-30;
      }
    }
  }

  &__active {
    font-size: 32px;
    font-weight: 600;
    color: $color-secondary;
    text-align: center;
    text-decoration-skip-ink: none;
  }
}

.hidden {
  display: none;
}
