@use '../../scss/variables' as *;

.loading {
  animation: bounce 1s infinite;
  text-align: center;
  width: 10rem;
  position: absolute;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  color: $color-grey-0;
  font-weight: 700;
  font-size: 14px;

  .spinner {
    animation: spin 2s linear infinite;
    border-radius: 100%;
    border-top: 4px solid $color-primary;
    ;
    border-bottom: 4px solid $color-secondary;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    margin: 0 auto;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  50% {
    transform: translateX(-50%) translateY(-50px);
  }
}
