@use '../../scss/variables' as *;
@use '../../scss/mixins' as *;

.options {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5rem;
  width: 100%;
  margin-bottom: 32px;

  @include for-desktop {
    flex-direction: row;
  }

  &_container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &_recommended {
      padding: 8px;
      border: none;
      border-radius: 5px;
      width: 100%;
      background-color: $color-grey-70;
      padding: 0.25rem;
      color: $color-grey-20;
      font-weight: 400;
      font-size: 16px;
    }

    &_input {
      padding: 8px;
      border: none;
      border-radius: 5px;
      background-color: $color-grey-70;
      color: $color-grey-20;
      font-weight: 400;
      font-size: 16px;
      width: 130px;

      @include for-desktop {
        max-width: 50%;
        width: fit-content;
      }
    }

    &_search {
      width: 10%;
      display: flex;
      padding: 5px;
      border: none;
      border-radius: 5px;
      background-color: $color-grey-70;
      color: $color-grey-20;
      

      @include for-desktop {
        display: none;
      }
    }
  }
}
