@import './css/variables.css';
@import 'tailwindcss';

/* stylelint-disable-next-line scss/at-rule-no-unknown */
@theme {
  --animate-pop: pop 0.3s ease-out;
  
  /* Definiowanie własnej animacji */
  @keyframes pop {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.6);
    }
    
    100% {
      transform: scale(1);
    }
  }
}

.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


body {
    background: var(--color-grey-80);
    font-family: 'Bai Jamjuree', serif;
}

th {
    font-weight: 300;
}

#nav-component {
  ::after {
    content: '';
    position: absolute;
    top: 0;
    width: 70px;
    height: 100%;
    z-index: 2;
    right: 0;
    pointer-events: none;
    background: linear-gradient(
      to right,
      rgb(255 255 255 / 0%),
      var(--color-grey-80)
    );
  }
}
