$color-primary: rgba(248, 255, 174, 1);
$color-secondary: rgba(67, 198, 172, 1);

$color-red: rgba(186, 32, 34, 1);
$color-green: rgba(23, 149, 82, 1);
$color-yellow: rgba(234, 199, 24, 1);

$color-grey-0: rgba(249, 248, 248, 1);
$color-grey-20: rgb(217, 217, 217); //text
$color-grey-30: rgba(162, 162, 162, 1);
$color-grey-40: rgba(110, 110, 110, 1);
$color-grey-50: rgba(64, 64, 64, 1);
$color-grey-60: rgba(41, 41, 41, 1);
$color-grey-70: rgba(33, 33, 33, 1);
$color-grey-80: rgba(26, 26, 26, 1); //background
$color-grey-90: rgba(16, 16, 16, 1);
$color-grey-100: rgba(4, 4, 4, 1);

$country-list-MinWidth: 300px;
$country-list-MaxWidth: 700px;
